<a href="https://colab.research.google.com/github/lakshitajain/Hello_World/blob/master/Ds_theory_PA35_Q6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import numpy as np
import pandas as pd
import math

In [ ]:
#Find the mean, median, mode, and range for the following list of values:
#13, 18, 13, 14, 13, 16, 14, 21, 13

l=[13,18,13,14,13,16,14,21,13] # given series of data

In [ ]:
mean=0
mean= sum(l)/len(l)     # mean= sum of the data/ number of items in the data.
#this can also be done by using np.mean(l)
print("Mean of the given data is: ",mean)

Mean of the given data is:  15.0

In [ ]:

print("Median of the given data is :",np.median(l)) # median=(n+1)/2 th data if n is odd ,the average of n/2th and (n/2)+1 th terms if n is even.

Median of the given data is : 14.0

In [ ]:
range= 0
range= max(l)-min(l)
print("range of the given data is : ",range) # range of a given data is the difference between the highest and the least value in the data

range of the given data is :  8

In [14]:
#Question 7 solution 
#Following is the data of marks obtained by 20 students in a test of statistics, Find first, second, and third (Q1, Q2, and Q3) quartiles. 

l1=[53,74,82,42,39,20,81,68,58,28,67,54,93,70,30,55,36,37,29,61]

In [19]:
#Q 8 solution
#60 g, 56 g, 61 g, 68 g, 51 g, 53 g, 69 g, 54 g. find standard deviation
l2=[60, 56, 61, 68, 51, 53, 69, 54]

In [21]:
sigma=0
#The standard deviation is the square root of the average of the squared deviations from the mean.
def calculate_stdev(l2):
  n=len(l2)
  for x in l2:
    sigma = 0
    sigma += (x - mean) ** 2
    sigma = math.sqrt(sigma /n) 
    return sigma
print("The standard deviation of the given data is: ",calculate_stdev(l2))

The standard deviation of the given data is:  15.90990257669732